body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background-color: white; /* Green */
  border: 1px solid;
  color: #4CAF50;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}
button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

/* == For all components that need padding == */
.padding {
  padding: 10px;
}
.cardoutline {
  border: black;
  border-radius: 1px;
}

/* == New Question Component == */
.NewQ {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.NewQOptions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* == HEADER == */
.navBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #4CAF50;
}

.navBarItem {
  list-style-type: none;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: white; /* Green */
  border: 1px solid;
  color: #4CAF50;
  font-size: 20px;
  font-weight: bold;
  border-radius: 15px 15px 0px 0px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: -1px;
}
.navBarItem:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
